# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [183]:
def lesser_of_two_evens(a,b):
    
    if a % 2 == 0 and b % 2 == 0:
        #to check the number even or odd
        return min(a,b)
        # to return the minimum value condition
    else:
        #if odd then return the maximum number
        return max(a,b)

In [184]:
# Check
lesser_of_two_evens(2,4)

2

In [182]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [176]:
def animal_crackers(text):

    word=text.split()
    # to take every word leter by letter in the string
    result=False
    #in the begin he result will be empty
    if word[0][0] == word[1][0]:
        print( "true")
        #condution to check if the first letter of first word are same or not
    else:
        print("false")

In [177]:
# Check
animal_crackers('Levelheaded Llama')

true

In [178]:
# Check
animal_crackers('Crazy Kangaroo')

false

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [169]:
def makes_twenty(n1,n2):
    if n1 + n2 ==20:
        print("true")
        #if ths summation of 2 inputs number =20 return true
    elif n1 or n2 ==20 :
        print("true")
                #if ths summation of 2 inputs number =20 return true or one of them

    else:
        # if not it will retun false
     return "f  alse"

In [170]:
# Check
makes_twenty(20,10)

true

In [171]:
# Check
makes_twenty(2,3)

true

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [167]:
def old_macdonald(name):
    y=name[0].upper()
    # take the first letter make it capital
    z=name[3].upper()
    #make the forth letter capital
    the_length=len(name)
    print(y+name[1:3]+z+name[4:the_length])

In [168]:
# Check
old_macdonald('macdonald')

MacDonald

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [163]:
def almost_there(n):
     return n in range(90,111) or n in range(190,211)
     #return the same number if it in the range from 90 to 111 or 190 to 211

def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))
         #return the absolute number if it in the range from 100-n  or  200-n to and all of  them must be smaller than 10 or equal

In [164]:
# Check
almost_there(104)

True

In [165]:
# Check
almost_there(150)

False

In [166]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [152]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i:i+2] == [3,3]:
            # to see if number 3 repeated next to the element list or not
            return "True"
    return "False"

In [153]:
# Check
has_33([1, 3, 3])

'True'

In [154]:
# Check
has_33([1, 3, 1, 3])

'False'

In [155]:
# Check
has_33([3, 1, 3])

'False'

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [158]:
def paper_doll(text):
    output=""
    for letter in text :
        output+= letter*3
        #to make triple letter of the words
    return output

In [157]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [156]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [159]:
def blackjack(a,b,c):
    if a+b+c <= 21 :
        return a+b+c
    elif a+b+c ==21 or 11:
        return a+b+c+10
    elif a+b+c ==21 or a+b+c % 2 == 0:
        #check if the summation =21 and even or not
        return"bust"

In [160]:
# Check
blackjack(5,6,7)

18

In [161]:
# Check
blackjack(9,9,9)

37

In [162]:
# Check
blackjack(9,9,11)

39

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [122]:
def summer_69(arr):
    list=arr
    sum=int()
    for num in range(0,len(arr)):
        if 6 in list:
            list1=range(list.index(6),list.index(9)+1)
            for index in list1:
                print(list1)
                arr[index]=0
            if 6 !=arr[num]:
                sum+=arr[num]
            else:
                continue
        else:
         sum+=arr[num]
    return sum

In [123]:
# Check
summer_69([1, 3, 5])

9

In [124]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

range(2, 6)
range(2, 6)
range(2, 6)
range(2, 6)

9

In [125]:
# Check
summer_69([2, 1, 6, 9, 11])

range(2, 4)
range(2, 4)

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [137]:
def spy_game(nums):
    for num in range(0,len(nums)):
        if nums[num] == 0:
            for a in range(num+1,len(nums)):
                if nums[a] == 0:
                    for b in range(a+1,len(nums)):
                        if nums[b] ==7:
                            return "True"
                else: 
                  return "False"

In [138]:
# Check
spy_game([1,2,4,0,0,7,5])

'True'

In [139]:
# Check
spy_game([1,0,2,4,0,5,7])

'False'

In [140]:
# Check
spy_game([1,7,2,0,4,5,0])

'False'

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [150]:
def count_primes(num):
    for numb in range(2,num+1):
        prime="True"
        for i in range(2,numb):
             if (numb % i == 0):
                prime = "False"
    return prime

In [151]:
# Check
count_primes(100)

'False'

## Great Job!